.header{
    display: flex;
    text-align: center; 
    justify-content: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100px;
    text-align:center;
    background-color: black;
    color: red;
    padding: 30px;

}

.centerbar{
    display:flex;
}

.leftcol {
    display: flex;
    flex-direction: column;
    padding: 5px;
   
background-color:rgb(134, 131, 131);
    width: 30vw;
    height: 30vh;
    
}

.rightcol {
    font-size: medium;
    padding: 10px;
    background-color: ;
    width: 70vw;

}
.footer {
    background-color: black;
    padding: 10px;
    height: 40px;
    font-size: x-small;
    font-family: monospace;
    color: red;
}